@tailwind utilities;


body {
  background: #e5e7eb;
  font-family: 'Inter', sans-serif;
  color: #1f2937;
}

.card {
  background-color: #ee8f8f;
  border-radius: 2rem;
  box-shadow: 0 10px 15px -3px rgba(31, 41, 55, 0.1), 0 4px 6px -4px rgba(31, 41, 55, 0.1);
  padding: 1.5rem;
  transition: box-shadow 0.2s;
}
.card:hover {
  box-shadow: 0 20px 25px -5px rgba(31, 41, 55, 0.1), 0 8px 10px -6px rgba(31, 41, 55, 0.1);
}
